.skills-container {
    height: 1200px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-summary {
   display:flex;
   align-items: center;
   justify-content: center;
   margin: 30px;
   padding: 20px;
   width: 67%;
}
.summary {
   color: #242424;
   font-size: 22px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}

.skills-container-wrapper {
   border: #242424 2px solid;
   border-radius: 10px;
   box-shadow: 5px 10px #242424;
}

.languages-skills {
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.languages-skills > h2 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}

.frontend-skills {
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}

.frontend-skills > h2 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}

.backend-skills {
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.backend-skills > h2 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}

.items {
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    margin: 5px;
    padding: 5px;
}

.extra-skills {
   border: #242424 2px solid;
   border-radius: 10px;
   box-shadow: 5px 10px #242424;
   margin: 30px;
}

.extra-skills > h2 {
   font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
      margin: 5px;
    padding: 5px;
}

.fas fa-angle-double-right {
   margin-right: 5px;
}

 #c {
    margin-right: 5px;
    padding-bottom: 2px;
 }

 #python {
    margin-right: 5px;
    padding-bottom: 2px;
 }

 #javascript {
    margin-right: 5px;
    padding-bottom: 2px;
 }

 #html {
    margin-right: 5px;
    padding-bottom: 2px;
 }

 #css {
    margin-right: 5px;
    padding-bottom: 2px;
 }

 #react {
    margin-right: 5px;
    padding-bottom: 2px;
 }

 #reactnative {
    margin-right: 5px;
    padding-bottom: 2px;
 }

 #node {
    margin-right: 5px;
    padding-bottom: 2px;
 }

 #flask {
    margin-right: 5px;
    padding-bottom: 2px;
 }

 #database {
    margin-right: 5px;
    padding-bottom: 2px;
 }

 #aws {
    margin-right: 5px;
    padding-bottom: 2px;
 }

 @media screen and (max-width: 820px) {
   .skills-container {
      height: 1450px;
  }

.items {
   font-size: 20px;
   padding: 0px;
}


 }